@model BloodDonationApp.Models.InputModels.CenterInputModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row jumbotron mx-auto">
        <h2 class="text-center mx-auto">Details about @Model.Name</h2>
        <div class="col-md-12 mx-auto mx-auto">
                <div class="col-lg-12 row">
                    <input asp-for="Id" type="hidden" value="@Model.Id">
                    <div class="col-lg-5 mx-auto">
                        <div class="md-form">
                            <input asp-for="Name" type="text" disabled="disabled" id="Name" class="form-control" value="@Model.Name">
                            <label asp-for="Name" for="Name"></label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 row">
                    <div class="col-lg-5 mx-auto">
                        <div class="md-form">
                            <input asp-for="Town"  disabled="disabled" type="text" id="Town" class="form-control" value="@Model.Town">
                            <label asp-for="Town" for="Town"></label>
                            <span asp-validation-for="Town" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-5 mx-auto">
                        <div class="md-form">
                            <input asp-for="Address"  disabled="disabled" type="text" id="Address" class="form-control" value="@Model.Address">
                            <label asp-for="Address" for="Address"></label>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 row">
                    <div class="col-lg-5 mx-auto">
                        <div class="md-form">
                            <input asp-for="PhoneNumber"  disabled="disabled" type="text" id="PhoneNumber" class="form-control" value="@Model.PhoneNumber">
                            <label asp-for="PhoneNumber" for="PhoneNumber"></label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-5 mx-auto">
                        <div class="md-form">
                            <input asp-for="Email"  disabled="disabled" type="text" id="Email" class="form-control" value="@Model.Email">
                            <label asp-for="Email" for="Email"></label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
    </div>