
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BloodDonationApp.Models.ViewModels.AllCentersViewModel

    <div class="jumbotron">
        <h2 class="text-center pb-3">Blood Centers in Bulgaria</h2>

        <table class="table col-lg-8 mx-auto">
            <thead>
                <tr>
                    <th scope="col">
                        <h4>Name</h4>
                    </th>
                    <th scope="col">
                        <h4 class="text-center">Actions</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var center in Model.Centers)
                {
                    <tr>
                        <td>
                            <h5>@center.Name</h5>
                        </td>
                        <td class="text-center">
                            <a asp-controller="Center" asp-action="Details" asp-route-id="@center.Id">
                                <button type="button" class="btn btn-floating btn-outline-primary" data-toggle="tooltip"
                                        data-placement="top" title="View Details">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </a>
                            <a asp-controller="Center" asp-action="Edit" asp-route-id="@center.Id">
                                <button type="button" class="btn btn-floating btn-outline-warning" data-toggle="tooltip"
                                        data-placement="top" title="Edit Center">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </a>
                            <a asp-controller="Center" asp-action="Delete" asp-route-id="@center.Id">
                                <button type="button" class="btn btn-floating btn-outline-danger" data-toggle="tooltip"
                                        data-placement="top" title="Delete Center">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </a>
                            <a asp-controller="Center" asp-action="Delete" asp-route-id="@center.Id">
                                <button type="button" class="btn btn-floating btn-outline-success" data-toggle="tooltip"
                                        data-placement="top" title="Add new request for that center">
                                    <i class="fas fa-plus-circle"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>