@model BloodDonationApp.Models.ViewModels.AppliersViewModel

<div class="jumbotron">
    <h2 class="text-center mb-4">Appliers</h2>
    <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm text-center">
                    FirstName
                </th>
                <th class="th-sm text-center">
                    LastName
                </th>
                <th class="th-sm text-center">
                    E-mail
                </th>
                <th class="th-sm text-center">
                    PhoneNumber
                </th>
                <th class="th-sm text-center">
                    Town
                </th>
                <th class="th-sm text-center">
                    Can Donate
                </th>
                <th class="th-sm text-center">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td class="text-center">@user.FirstName</td>
                    <td class="text-center">@user.LastName</td>
                    <td class="text-center">@user.Email</td>
                    <td class="text-center">@user.PhoneNumber</td>
                    <td class="text-center">@user.Town</td>
                    <td class="text-center">
                        @if (user.CanDonate)
                        {
                            <span>Yes</span>
                        }
                        else
                        {
                            <span>No</span>
                        }
                    </td>
                    <td class="text-center">
                        @if (user.CanDonate)
                        {
                            <a asp-controller="User" asp-action="Donate" 
                               asp-route-userId="@user.Id" asp-route-requestId="@Model.RequestId" class="btn btn-outline-primary">
                                Donate
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>